<div class="container cont">

  <img src="/assets/img/logo-color.png" class="responsive-img logocolor"/>

  <ul>
    <li >
      <a class="waves-effect waves-light btn-large transparent" href="<%= customer_products_path %>">
        <img src="/assets/img/teadark.png" class="responsive-img icon"/>
        <span>Té</span>
      </a>
    </li>
  </ul>

</div>