<div class="container cont">

  <img src="/assets/img/logo-color.png" class="responsive-img"/>

  <ul>
    <li class="waves-effect waves-light btn-large transparent">
        <%= link_to "Té", customer_products_path %>
    </li>
  </ul>

</div>