<<<<<<< HEAD
<div class="container cont">

  <img src="/assets/img/logo-color.png" class="responsive-img"/>

  <ul>
    <li class="waves-effect waves-light btn-large transparent">
        <%= link_to "Té", customer_products_path %>
    </li>
  </ul>

</div>
=======
<h1>Home Customer</h1>

<ul>
  <li><%= link_to "Products", customer_products_path %></li>
</ul>
>>>>>>> creacion de columnas, conexoin a la base de datos y mostrar vista de admin->product los productos con las nuevas columnas
