<div class="container">
  <h1 class="center-align">Tea Time</h1>

<p class="center-align">Somos un equipo de personas enfocadas al mejoramiento continuo para mejorar día a día nuestros productos</p>

<p class="center-align">Nuestro principal propósito es hacer que nuestros clientes disfruten de un producto de buena calidad y nos recomienden</p>

<%= image_tag("logos/logo-color.png", height: '100') %>
</div>